<div class="tile">
    <article class= "block media box">
        <figure class="media-left">
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{name}}</strong>
              <br>
              <table class="table is-striped">
                <tbody>
                    <td>gender: {{gender}}</a></td>
                    <td>weight: {{weight_in_pounds}}</td>
                    <td>date of birth: {{format_date date_of_birth}}</td>
                </tbody>
              </table>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
            </div>
          </nav>
        </div>
    </article>
</div>