<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baby Shower Game</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <hero>
    <section class="hero is-small has-text-centered has-background-black">
      <div class="hero-body">
        <div class="container">
          <figure class="image">
            <img src="images/heroImage.png">
          </figure>
        </div>
      </div>
    </section>
  </hero>
  <main>
    {{{ body }}}
  </main>
  <footer>
  </footer>
  </div>
  {{!-- {{#if loggedIn}}
  <script src="/javascript/mom-logout.js"></script>
  <script src="/javascript/guest-logout.js"></script>
  {{/if}} --}}
</body>

</html>