<p class="title is-4 is-">Baby Shower Game</p>

<body>
  <section class="block ">
    <p class="title is-1 is-centered">See what other guests have voted!</p>
  </section>
</body>

<body>
  <section class="block has-text-centered has-background-black">
    <p class="title is-1 is-centered has-text-white">See what other guests have voted!</p>
  </section>
</body>
<!--this is the code I'm editing-->
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> John Smith</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Jane Smith</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Jane Doe</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
  </div>\
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>

            <strong> Yon Snow</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
  </div>
</div>
</div>
<!-- this is the second part-->
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Lazy Susan</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Mr Anderson</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Bobby Flay</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Sofia Vergara</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: </td>
              <td>weight: </td>
              <td>date of birth: </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-9">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="media-left">
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong> Baby Yoda</strong> <small>@johnsmith1</small>
                <br>
              <table class="table is-striped">
                <tbody>
                  <td>gender: </td>
                  <td>weight: </td>
                  <td>date of birth: </td>
                </tbody>
              </table>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
              </div>
            </nav>
          </div>
        </article>
        </article>
        </article>
      </div>
      <div class="tile is-8 is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="media-left">
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong> Bert and Ernie</strong> <small>@johnsmith1</small>
                    <br>
                  <table class="table is-striped">
                    <tbody>
                      <td>gender: </td>
                      <td>weight: </td>
                      <td>date of birth: </td>
                    </tbody>
                  </table>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                  </div>
                </nav>
              </div>
            </article>
            </article>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="media-left">
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong> Will-I-Am</strong> <small>@johnsmith1</small>
                    <br>
                  <table class="table is-striped">
                    <tbody>
                      <td>gender: </td>
                      <td>weight: </td>
                      <td>date of birth: </td>
                    </tbody>
                  </table>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                  </div>
                </nav>
              </div>
            </article>
            </article>
            </article>
          </div>
        </div>