{{!-- <p class="title is-1 has-text-centered">Baby Shower Game</p> --}}

<body>
  <section class="block has-text-centered has-background-black">
    <p class="title is-1 is-centered has-text-white">See what other guests have voted!</p>
  </section>
</body>
<!--this is the code I'm editing-->
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> John Smith</strong> <small>@johnsmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: boy </td>
              <td>weight: 6.5 lbs </td>
              <td>date of birth: 05/22/2022</td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Jane Smith</strong> <small>@janesmith1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: girl </td>
              <td>weight: 7.5 lbs</td>
              <td>date of birth: 05/23/2022</td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Jamie Doe</strong> <small>@jamiedoe</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: girl </td>
              <td>weight: 8.5 lbs</td>
              <td>date of birth: 05/31/2022 </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
  </div>\
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>

            <strong> Yon Snow</strong> <small>@yonsnow</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: girl </td>
              <td>weight: 8 lbs </td>
              <td>date of birth: 05/10/2022 </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
  </div>
</div>
</div>
<!-- this is the second part-->
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Lazy Susan</strong> <small>@lazysusan1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: girl </td>
              <td>weight: less than 6lbs </td>
              <td>date of birth: 05/27/2022 </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Brad Pitt</strong> <small>@therealbradpitt</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: girl </td>
              <td>weight: 8.5 lbs </td>
              <td>date of birth: 05/29/2022 </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Bobby Flay</strong> <small>@masterchef1</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: boy </td>
              <td>weight: 9 lbs. </td>
              <td>date of birth: 05/24/2022 </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <figure class="media-left">
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Sofia Vergara</strong> <small>@modernfamilyfan</small>
            <br>
          <table class="table is-striped">
            <tbody>
              <td>gender: girl </td>
              <td>weight: 10 lbs </td>
              <td>date of birth: 05/27/2022 </td>
            </tbody>
          </table>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
          </div>
        </nav>
      </div>
    </article>
    </article>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-9">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="media-left">
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong> Baby Yoda</strong> <small>@grogumandalorian</small>
                <br>
              <table class="table is-striped">
                <tbody>
                  <td>gender: boy </td>
                  <td>weight: 9 lbs </td>
                  <td>date of birth: 006/01/2022 </td>
                </tbody>
              </table>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
              </div>
            </nav>
          </div>
        </article>
        </article>
        </article>
      </div>
      <div class="tile is-8 is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="media-left">
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong> Mike Wazawski</strong> <small>@monstersinc</small>
                    <br>
                  <table class="table is-striped">
                    <tbody>
                      <td>gender: girl </td>
                      <td>weight: 9.5 lbs </td>
                      <td>date of birth: 05/28/2022 </td>
                    </tbody>
                  </table>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                  </div>
                </nav>
              </div>
            </article>
            </article>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="media-left">
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong> Will-I-Am</strong> <small>@monkeybusiness</small>
                    <br>
                  <table class="table is-striped">
                    <tbody>
                      <td>gender: girl </td>
                      <td>weight: 8 lbs </td>
                      <td>date of birth: 05/17/2022 </td>
                    </tbody>
                  </table>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                  </div>
                </nav>
              </div>
            </article>
            </article>
            </article>
          </div>
        </div>