<p class="title is-1 has-text-black">Welcome Back Guest!</p>

<form class="box has-background-black" id="guest-login-form">
    <div class="container">
        <div class="notification has-background-black">

            <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                    <input class="input" id="guest-email-login" type="name" placeholder="Email here">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Password</label>
                <div class="control">
                    <input class="input" id="guest-password-login" type="email" placeholder="*********">
                </div>
            </div>

            <button class="button has-background-white">login</button>
        </div>
    </div>
</form>

<script src="/javascript/guest-sign-in.js"></script>