<p class="title is-1 has-text-black">Welcome Guest!</p>

<form class="box has-background-black" id="guest-register-form">
    <div class="container">
        <div class="notification has-background-black">

            <div class="field">
                <label class="label has-text-white">Name</label>
                <div class="control">
                    <input class="input" id="guest-name-register" type="name" placeholder="e.g. Jane Doe">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                    <input class="input" id="guest-email-register" type="email" placeholder="e.g. alex@example.com">
                </div>
            </div>


            <div class="field">
                <label class="label has-text-white">Password</label>
                <div class="control">
                    <input class="input" id="guest-password-register" type="password" placeholder="********">
                </div>
            </div>
            <div class="field">
                <label class="label has-text-white">Future Mom's Email</label>
                <div class="control">
                    <input class="input" id="mom-email-confirm" type="email" placeholder="e.g. alex@example.com">
                </div>
            </div>

            <a href="/make-your-vote">
            <button class="button has-background-white">Register</button>
            </a>
            <div class="block">
                <h2 class="has-text-white"> Don't know Future Mom's Email? </h2>
            </div>
            <button class="button has-background-white is-small">Find her here</button>
        </div>
    </div>
</form>

<script src="/javascript/guest-register.js"></script>