<h1>You are on the homepage!</h1>
<section id="search" class="search-wrap">
    <h2>Enter Mom's Email</h2>
    <form id="email-form" class="form-row">
<div class="field">
    <div class="control">
    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
</div>
</div>    
<div class="field is-grouped">
  <p class="control">
    <a class="button is-primary">
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Cancel
    </a>
  </p>
</div>
</form>
</section>