<p class="title is-1 has-text-black">Welcome New Mom</p>

<form class="box has-background-black" id="mom-login-form">
    <div class="container">
        <div class="notification has-background-black">

            <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                    <input class="input" id="mom-email-login" type="email" placeholder="Email here">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Password</label>
                <div class="control">
                    <input class="input" id="mom-password-login" type="password" placeholder="*********">
                </div>
            </div>
            <a href="/cards-with-posts">
                <button class="button has-background-white">login</button>
            </a>
        </div>
    </div>
</form>

<script src="/javascript/mom-sign-in.js"></script>