<p class="title is-1 has-text-black">Welcome New Mom!</p>

<form class="box has-background-black" id="mom-register-form">
    <div class="container">
        <div class="notification has-background-black">

            <div class="field">
                <label class="label has-text-white">Name</label>
                <div class="control">
                    <input class="input" id="mom-name-register" type="name" placeholder="e.g. Jane Doe">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                    <input class="input" id="mom-email-register" type="email" placeholder="e.g. alex@example.com">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Password</label>
                <div class="control">
                    <input class="input" id="mom-password-register" type="password" placeholder="********">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Date of Birth</label>
                <div class="control">
                    <input class="input" id="baby-dob" type="date" placeholder="02/03/2022">
                </div>
            </div>

            <a href="/make-your-vote">
                <button class="button has-background-white">Register</button>
            </a>
        </div>
    </div>
</form>

<script src="/javascript/mom-register.js"></script>