
{{!-- {{#if loggedIn}} --}}
<div>
    {{!-- Image Placeholder --}}
    <h1>
        Welcome to {{ username }}'s Baby Shower Game
    </h1>
</div>

<div>
    <h2>Input your answer's below</h2>
    <div>
        <span class="radio-wrapper">
            <input type="radio" name="boy" id="boy-choice" />
            <label for="boy-choice">Boy</label>
        </span>
        <span class="radio-wrapper">
            <input type="radio" name="trainer-confirm" id="girl-choice" />
            <label for="girl-choice">Girl</label>
        </span>
    </div>
    <span>
        <label for="weight-input">Weight</label>
        <input type="text" id="weight-input" placeholder="Baby's Weight" />
    </span>
    <span class="form-group">
        <label for="modalDueDate">Due date</label>
        <input type="text" class="form-control" id="modalDueDate" placeholder="mm/dd/yyyy" autocomplete="off" />
    </span>
</div>
{{!-- {{/if}} --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>