<div>
     {{!-- Image Placeholder --}}
    <h1>
        Welcome to {{ username }}'s Baby Shower Game
    </h1>
</div>

<div>
    <h2>Input your answer's below</h2>
    <span>
        <button type="button" id="boy-button">Boy</button>
        <button type="button" id="girl-button">Girl</button>
    </span>
    <span>
        <label for="weight-input">Weight</label>
        <input type="text" id="weight-input" placeholder="Baby's Weight"
    </span>
</div>